<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Website</title>
  </head>
  <body>
    {{> header}}
    <p>List of projects</p>
    {{> footer}}
  </body>
</html>
